

.title{
  font-family : luminari;
  font-size : 70px;
  font-weight: lighter;
  padding : 100px;
  text-align : center;
}

.main{
  height : 3000px;
  width : 900px;
  margin : 0 auto;
}

.main-container{
  background-color : silver;
  height : 3000px;
  width : 800px;
  margin : 0 auto;
}

.subject{
  font-family : luminari;
  padding-bottom : 30px;
  display : block;
  font-size: 25px;
  color: black;
}

.contents{
  text-align : center;
  padding-top : 70px;
  padding-bottom : 70px;
}




.footer-logo h3{
  font-family : luminari;
}
